@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', cursive;
}

.header{
  background-color: black;
  color: white;
  padding: 20px;
}

.card{
  color: white;
}

.skills-container{
  font-size: 10px;
}

.experience-container{
  font-size: 12px;
}

.about-container{
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

.quote{
  font-size: 50px;
}

.contact-container{
  background-color: black;
  padding: 20px;
}

#messageInput{
  resize: none;
  height: 100px;
}